$color-light-pink: rgb(253, 222, 227);
$color-light-pink-hover: #ffc0cb;
$color-bright-pink: #ff69b4;
$color-hover-bright-pink: #ff4081;
$white: white;

$color-dark-blue: rgb(30, 30, 70);
$color-hover-bright-blue: rgb(16, 33, 132);
$layout: rgb(26, 26, 66);

$color-light-blue: rgb(173, 216, 230);
$color-light-blue-hover: #f0f3f9;
$color-bright-blue: rgb(4, 28, 72);
$blue: rgb(9, 44, 133)